# Ignorar arquivos e pastas de dados
*.pdf
*.csv

# Ignorar arquivos gerados
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar arquivos de build
build/
dist/
*.egg-info/
.env
.venv/

# Ignorar IDEs
.vscode/
.idea/
